name: Python analisys

on: [push, pull_request]

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      - name: Installing depencencies
        run: |
              python -m pip install --upgrade pip
              pip install setuptools
              pip install .
      - name: Installing Ruff linter
        run: |
            pip install ruff
      - name: Running Ruff linter
        run: |
            ruff check .
  mypy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.10
        uses: actions/setup-python@v2
        with:
          python-version: "3.10"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m venv venv
          source venv/bin/activate
          pip install mypy
      - name: Running static types with mypy
        run: |
          source venv/bin/activate
          mypy flamapy
  pytest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m venv venv
          source venv/bin/activate
          pip install .
          pip install pytest
      - name: Running test
        run: |
          source venv/bin/activate
          pytest
